PINATA_API_KEY={{pinataApiKey}}
PINATA_API_SECRET={{pinataApiSecret}}
GOOGLE_CLIENT_ID={{googleClientId}}
GOOGLE_CLIENT_SECRET={{googleClientSecret}}
REFINEMENT_ENDPOINT=https://a7df0ae43df690b889c1201546d7058ceb04d21b-8000.dstack-prod5.phala.network 